@font-face {
  font-family: Kumbh-Sans;
  src: url("https://fonts.google.com/specimen/Kumbh+Sans"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#af67e9, #6565e7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

@keyframes rotateToTop {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(-180deg); } }

.arrow--active {
  animation: rotateToTop 750ms forwards; }

.card__wrapper {
  position: relative;
  width: 1000px; }

.card__logo__box--prop {
  position: absolute;
  top: 11rem;
  left: -6.2rem;
  width: 12rem;
  z-index: 1; }

.card {
  background-color: white;
  min-height: 500px;
  padding: 50px 0;
  border-radius: 20px;
  font-family: "Kumbh Sans", sans-serif;
  display: grid;
  grid-template-areas: "logo card";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  overflow: hidden;
  position: relative; }
  .card__logo > * {
    position: absolute; }
  .card__logo {
    grid-area: logo; }
    .card__logo__frame {
      top: -20rem;
      left: -600px;
      width: 65rem; }
    .card__logo__woman-on-desktop {
      top: 2rem;
      left: -80px;
      width: 32.5rem; }

.card__info {
  grid-area: card;
  width: 80%;
  margin-top: 20px; }
  .card__info__title__wrapper {
    margin-bottom: 50px; }
  .card__info__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e9;
    font-size: 12px;
    font-weight: 400; }
  .card__info__question {
    padding-bottom: 10px;
    position: relative;
    display: flex; }
    .card__info__question .question__arrow {
      display: inline-block;
      position: absolute;
      right: 0; }
      .card__info__question .question__arrow:hover {
        cursor: pointer; }
    .card__info__question .question-font--bold {
      font-weight: 700;
      font-size: 14px; }
  .card__info__answer {
    padding-right: 20px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 750ms ease-out; }
  .card__info .answer--open {
    max-height: 100px;
    opacity: 1; }

@media screen and (max-width: 881.25px) {
  .card__wrapper {
    transform: translateY(2rem);
    width: 300px; }
  .card__logo__box--prop {
    top: -3.5rem;
    left: 2rem;
    width: 5rem; }
  .card {
    min-height: 500px;
    overflow: visible;
    grid-template-areas: "logo" "card";
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .card__logo__frame {
      top: -7rem;
      left: 50px;
      width: 12rem; }
    .card__logo__woman-on-desktop {
      top: -6.25rem;
      left: 50px;
      width: 12rem; }
  .card__info {
    margin: 0 auto; }
    .card__info__title {
      text-align: center; } }
