@font-face {
  font-family: Kumbh-Sans;
  src: url("https://fonts.google.com/specimen/Kumbh+Sans"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#af67e9, #6565e7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

@keyframes rotateToTop {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(-180deg); } }

.arrow--active {
  animation: rotateToTop 750ms forwards; }

.card {
  background-color: white;
  width: 70vw;
  min-height: 500px;
  padding: 50px 0;
  border-radius: 20px;
  font-family: "Kumbh Sans", sans-serif;
  display: grid;
  grid-template-areas: "logo card";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  overflow: hidden;
  position: relative; }
  .card__logo > * {
    position: absolute; }
  .card__logo {
    grid-area: logo; }
    .card__logo__frame {
      top: -22.75vw;
      left: -35vw;
      width: 63vw; }
    .card__logo__woman-on-desktop {
      top: 2.1vw;
      left: -7vw;
      width: 35vw; }

.card__info {
  grid-area: card;
  width: 80%;
  margin-top: 20px; }
  .card__info__title__wrapper {
    margin-bottom: 50px; }
  .card__info__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e9;
    font-size: 12px;
    font-weight: 400; }
  .card__info__question {
    padding-bottom: 10px;
    position: relative;
    display: flex; }
    .card__info__question .question__arrow {
      display: inline-block;
      position: absolute;
      right: 0; }
      .card__info__question .question__arrow:hover {
        cursor: pointer; }
    .card__info__question .question-font--bold {
      font-weight: 700;
      font-size: 14px; }
  .card__info__answer {
    padding-right: 20px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 750ms ease-out; }
  .card__info .answer--open {
    max-height: 100px;
    opacity: 1; }
